<nav class="navbar navbar-default navbar-static-top">
  <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#"><%= image_tag("logo.png")%></a>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#home">Home</a></li>
          <li><a href="#home">Noticeboard</a></li>
          <li><a href="#band">Apply</a></li>
          <li><a href="#band">Internees</a></li>
          <li><a href="#tour">Training</a></li>
          <li><a href="#tour" data-toggle="modal" data-target="#edit" >Login</a></li>
          <li><a href="#tour" data-toggle="modal" data-target="#register">Sign Up</a></li>

          <li><a href="#"><span class="glyphicon glyphicon-search"></span></a></li>
        </ul>
      </div>
    </div>
</nav>